@using WSBInvestmentPredictor.Frontend.Shared.Navigation
@inject NavigationRegistry NavigationRegistry


<ul class="nav flex-column">
    @foreach (var link in NavigationRegistry.Links)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="@link.Url" Match="NavLinkMatch.All">
                @link.Title
            </NavLink>
        </li>
    }
    <p>Liczba linków: @NavigationRegistry.Links?.Count()</p>
</ul>
